@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
	margin: 0;
	font-family: "Urbanist", --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--width: 900px;
	--text-light: #EEE5E9;
	--text-light-translucent: #EEE5E988;
	--text-dark: #383D36;
	--text-dark-translucent: #383D3688;
	--section-spacing: 16px;
	--logo-height: 48px;
	--text: #EEE5E9;
	/* --bg: #1F211E; */
	--bg: #383D36;
	background-color: var(--bg);
	color: var(--text);
}

:root {
	scroll-behavior: smooth;
}
 
* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

.😡 {
	display: none;
}