.container {
	// padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	z-index: 0;
	scroll-behavior: smooth;
}

.header {
	width: var(--width);
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	// height: 64px;
	position: sticky;
	top: 0;
	color: #383d36;
	z-index: 0;
	// mix-blend-mode: saturation;
	> * {
		margin: 0;
		z-index: 10;
	}
}

.logo {
	z-index: 30;
	position: sticky;
	top: var(--section-spacing);
	height: var(--logo-height);
	margin: var(--section-spacing);
	display: flex;
	align-items: center;
	--transition: 240ms cubic-bezier(0.37, 0, 0, 1);
	// background-color: var(--bg);
	transition: padding var(--transition), gap var(--transition),
		background-color 120ms;
	padding-left: calc(0.5 * var(--logo-height));
	padding-right: calc(0.5 * var(--logo-height));
	gap: 0px;
	> span {
		font-size: calc(0.75 * var(--logo-height));
		width: 0;
		// opacity: 0;
		transition: var(--transition);
		overflow: hidden;
	}
	> svg {
		fill: var(--text);
		height: 100%;
	}
	cursor: pointer;
}

.scrolled .logo {
	gap: 8px;
	padding-top: calc(0.6 * var(--section-spacing));
	padding-bottom: calc(0.6 * var(--section-spacing));
	background-color: var(--bg);
	border-radius: calc(0.5 * var(--logo-height));
	> span {
		width: calc(0.75 * var(--logo-height));
		opacity: 1;
	}
}

.links {
	margin-bottom: var(--section-spacing);
	position: sticky;
	top: calc(var(--logo-height) + var(--section-spacing) * 2);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 8px;
	padding-inline: var(--section-spacing);
	> * {
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 600;
	}
}

.sections {
	width: 100%;
	padding-left: var(--section-spacing);
	padding-right: var(--section-spacing);
	// padding-bottom: var(--section-spacing);
	gap: calc(1 * var(--section-spacing));
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg);
	z-index: 20;
	position: relative;
}

.particles {
	position: absolute;
	height: 100%;
	width: 100%;
}

@mixin responsive-grid($max-width) {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min($max-width, 100%), 1fr));
	gap: 48px;
	padding: 32px;
	align-items: center;
	justify-items: center;
	align-content: center;

	> * {
		width: 100%;
		max-height: calc($max-width * 0.5);
		object-fit: contain;
	}
}

.scheduleTable {
	width: 100%;
	display: block;
	overflow: auto;
	border-collapse: collapse;
	tr {
		td,
		th {
			&:nth-child(1) {
				width: 10rem;
			}
			padding: 10px;
			text-align: left;
		}
		border-bottom: 2px solid var(--text-translucent);
	}
}

.sponsor-logo-list {
	@include responsive-grid(250px);
}

.past-sponsor-logo-list {
	@include responsive-grid(150px);
}

.organizersList {
	@include responsive-grid(250px);
}

.organizer {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 100%;

	img {
		height: 100px;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		border-radius: 50%;
	}

	.organizerInfo {
		display: flex;
		flex-direction: column;
		gap: 8px;
		> * {
			margin: 0;
		}
		// > *:nth-child(2) {
		// 	opacity: 0.7;
		// }
	}
}

.logoBottom {
	// z-index: 0;
	position: sticky;
	// top: var(--section-spacing);
	bottom: 0;
	padding: var(--section-spacing);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	text-align: center;
	> svg {
		fill: var(--text);
		height: 36px;
	}
	> * {
		margin: 0;
	}
}
