.container {
	// padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	z-index: 0;
	scroll-behavior: smooth;
}

.header {
	width: var(--width);
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	// height: 64px;
	position: sticky;
	top: 0;
	color: #383D36;
	z-index: 0;
	// mix-blend-mode: saturation;
	> * {
		margin: 0;
		z-index: 10;
	}
}

.logo {
	z-index: 30;
	position: sticky;
	top: var(--section-spacing);
	height: var(--logo-height);
	margin: var(--section-spacing);
	display: flex;
	align-items: center;
	--transition: 240ms cubic-bezier(0.37, 0, 0, 1);
	// background-color: var(--bg);
	transition: padding var(--transition), gap var(--transition), background-color 120ms;
	padding-left: calc(0.5 * var(--logo-height));
	padding-right: calc(0.5 * var(--logo-height));
	gap: 0px;
	> span {
		font-size: calc(0.75 * var(--logo-height));
		width: 0;
		// opacity: 0;
		transition: var(--transition);
		overflow: hidden;
	}
	> svg {
		fill: var(--text);
		height: 100%;
	}
	cursor: pointer;
}

.scrolled .logo {
	gap: 8px;
	padding-top: calc(0.6 * var(--section-spacing));
	padding-bottom: calc(0.6 * var(--section-spacing));
	background-color: var(--bg);
	border-radius: calc(0.5 * var(--logo-height));
	> span {
		width: calc(0.75 * var(--logo-height));
		opacity: 1;
	}
}

.links {
	margin-bottom: var(--section-spacing);
	position: sticky;
	top: calc(var(--logo-height) + var(--section-spacing) * 2);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 8px;
	padding-inline: var(--section-spacing);
	> * {
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 600;
	}
}

.sections {
	width: 100%;
	// padding-left: var(--section-spacing);
	// padding-right: var(--section-spacing);
	// padding-bottom: var(--section-spacing);
	// gap: calc(1 * var(--section-spacing));
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg);
	z-index: 20;
	position: relative;
}

.particles {
	position: absolute;
	height: 100%;
	width: 100%;
}