.section {
	// height: calc(100vh - var(--section-spacing) * 2);
	width: 100%;
	max-width: var(--width);
	border-radius: calc(0.75 * var(--section-spacing));
	> * {
		width: var(--width);
		max-width: 100%;
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	// margin-top: var(--section-spacing);
	// margin-bottom: var(--section-spacing);
	font-size: 1.2em;
	p {
		line-height: 1.3em;
	}
	// transform: translateY(20px) rotate(-3deg);
	// text-align: center;
	color: var(--text);
	h1 {
		font-size: 3rem;
	}
	> * {
		max-width: min(100%, var(--width));
		> * {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
	scroll-margin-top: calc(var(--logo-height) + 2 * var(--section-spacing));
}
